@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.css-17pwl6t {
  margin-left: 243px;
}

.carousel-container {
  height: 350px;
}

.carousel-item  {
  /* margin: 0px 30px; */
  /* margin-left: 30px; */
}

.carousel-dot-list {
  bottom: 0px!important;
}

.react-multi-carousel-dot--active button {
  border: none!important;
  background: white!important;
}
.react-multi-carousel-dot button {
  width: 7px!important;
  height: 7px!important;
  border: none!important;
  margin: 5px!important;
  background: #FFFFFF40;
}